/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
}


/* Utility */

.page {
    height: 100vh;
    position: relative;
}

.slogan {
    font-size: 44.5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    width: 50vw;
    text-align: center;
}


/******
Site-main
*******/

.buttons {
    position: fixed;
    right: 20px;
    top: 40px;
    z-index: 10;
}

.buttons>a {
    display: inline-block;
    background-color: white;
    height: 50px;
    width: 50px;
    padding: 16px;
    margin-left: 20px;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-size: 16.5px;
    text-decoration: none;
}

#red-page {
    background-color: red;
}

#green-page {
    background-color: green;
}

#yellow-page {
    background-color: yellow;
}

.page>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
}

#yellow-page .slogan {
    color: green;
}