/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
}


/* Utility */

.page {
    height: 100vh;
}

.slogan {
    font-size: 44.5px;
}


/******
Site-main
*******/

.buttons {
    position: fixed;
    right: 20px;
    top: 40px;
}

.buttons>a {
    display: inline-block;
    background-color: white;
    height: 50px;
    width: 50px;
    padding: 16px;
    margin-left: 20px;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-size: 16.5px;
    text-decoration: none;
}

#red-page {
    background-color: red;
}

#green-page {
    background-color: green;
}

#yellow-page {
    background-color: yellow;
}