/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
}


/* Utility */

.page {
    height: 100vh;
}

.slogan {
    font-size: 44.5px;
}


/******
Site-main
*******/

.buttons {
    position: fixed;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background-color: blue;
}

.buttons>a {
    color: white;
}

#red-page {
    background-color: red;
}

#green-page {
    background-color: green;
}

#yellow-page {
    background-color: yellow;
}